@charset "UTF-8";
p{
    text-align: justify;    
}
h1{
    color: #730C02;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: #F2F2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
body{
    background-color: #F2F2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}
main{
    padding: 10px;
    background-color: #e3a581;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #734E39;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;

}
img{
    border-radius: 10px;
}
footer {
    background-color: #730C02;
    color: #FFF;   
    text-align: center;
}
title{
    color: #730C02;
    font-family: 'Times New Roman', Times, serif;
}
b{
    color: #730C02;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}