@charset "UTF-8";

/*Cores:
#F2293A avermelhado
#F22E52 rosado
#232126 preto
#D9A23D mostarda
#F2F2F2 braco gelo

*/
a:visited {
    color: #232126;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: #D9A23D;
    background-color: transparent;
    text-decoration: underline
}

a:active {
    color: #D9A23D;
    background-color: transparent;
    text-decoration: underline
}

body {
    background-color: #f2f2f2
}

li {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color: #232126;

}

p {
    font-family: 'Libre Baskerville', serif;
    color: #232126;
    font-size: 18px;
}

p#intro {
    color: #232126;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

h1 {
    color: #232126;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

h2#redes {
    color: #232126;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;

}

h2 {
    color: #232126;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;

}

img {
    height: 300px;
    width: 300px;
    border: 4px solid #D9A23D;
    padding: 3px;
    margin: 5px;
}

figure {}

figcaption {
    text-align: justify;
}

dt {
    color: #F2293A;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;

}

dl {
    color: #232126;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
}
table {
    border-spacing: 5px;
}
th {
    text-align: center;
}
tr {
    text-align: center;
}

footer {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    color: #232126;
    text-align: center;

}