@charset "UTF-8";
p{
    text-align: justify;    
}
h1{
    color: #730C02;
}
h2{
    color: #F2F2F2;
}
body{
    background-color: #F2F2F2;
}
main{
    padding: 10px;
    background-color: #BF8360;
    border-radius: 10px;

}
img{
    border-radius: 10px;
}
footer {
    background-color: #730C02;
    color: #FFF;   
    text-align: center;
    
}